<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ajouter une recette</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--Ajout-->
        <fieldset>
            
            <legend>Ajout d'une recette</legend>
            <form action="" method="POST">
                <p>
                    <label>Nom:</label>
                    <input type="text" class="obligatoire" name="nom" id="nom" value=""/>
                    <label class="texteRouge">*</label>
                </p>
                <p>
                    <label>Ingredients:</label>
                    <textarea name="ingredient" id="ingredient" rows="3" cols="50">
                    </textarea>
                </p>
                <p>
                    <label>Preparation:</label>
                    <textarea name="preparation" id="preparation" rows="3" cols="50">
                    </textarea>
                </p>
                <p>
                    <label>Mots clefs:</label>
                    <input type="text" name="mots_clefs" id="mots_clefs" value=""/>
                </p>
                <p>
                    <label>Image:</label>
                    <input type="text" name="image" id="image" value=""/>
                </p>
                
                <p>
                    <label>Type de plat:</label>
                    <select name="plat" id="plat">
                        
                    </select>
                </p>
                
                <p>
                    <label>Thème:</label>
                    <select name="theme" id="theme">
                        
                    </select>
                </p>
                
                <p>
                    <label>Sorte de recette:</label>
                    <input type="checkbox" name="tech_base" id="tech_base"/>
                    <label>Technique de base</label>
                    <input type="checkbox" name="classique" id="classique"/>
                    <label>Recette classique</label>
                    <input type="checkbox" name="bio" id="bio"/>
                    <label>Recette bio</label>
                </p>
                
                
                
                <p>
                    <button type="submit" name="btValider" id="btValider" value="Valider">
                        Valider
                    </button>
                </p>
                
            </form>
            
        </fieldset>
        
        <!--Afiichage des tables-->
        <fieldset>
            <legend>Toute les recettes</legend>
            
            <table>
 
            </table>
        </fieldset>
        
    </body>
</html>
